::-webkit-scrollbar{display: none;}
*{
	margin: 0;
	padding: 0;
}
body{
	height: 100%;
	min-height: 812px;
}
.all div{
	display: inline-block;
}
.face{
	background-image: url('../img/No1.png');
}
.left{
	width: 128px;
	max-height: 1152px;
	background-color: black;
	overflow-y: auto;
	overflow-x: hidden;
	position: absolute;
}
.center{
	width: 1024px;
	height: 1152px;
	background-color: blue;
	position: absolute;
	left: 128px;
}
.center_top{
	height: 128px;
	width: 1024px;
	background-image: url('../img/centertopbg.png');
	background-color: darksalmon;
}
.center_down{
	height: 1024px;
	width: 1024px;
	background-image: url('../img/bgpic1024.png');
	background-color: dodgerblue;
	overflow-y: auto;
}
.right{
	height: 1152px;
	width: 500px;
	background-color: red;
	position: absolute;
	left: 1152px;
}











/**{
	margin: 0;
	padding: 0;
}
body{
	width: 1920px;
	min-width: 1920px;
	background-color: hotpink;
}

.all{
	width: 100%;
	height: 812px;
	background-color: black;
}
.left{
	width: 448px;
	height: 812px;
	background-color: antiquewhite;
	position: absolute;
}
.center{
	width: 1024px;
	height: 812px;
	background-color: blue;
	background-image: url('../img/bgpic.png');
	margin-left: 448px;
	position: absolute
}
.right{
	width: 448px;
	height: 812px;
	background-color: green;
	margin-left: 1472px;
}
.left-up{
	width: 448px;
	height: 406px;
	background-color: red;
}
.left-down{
	width: 448px;
	height: 406px;
	background-color: gold;
}
.right-up{
	width: 448px;
	height: 406px;
	background-color: red;
}
.right-down{
	width: 448px;
	height: 406px;
	background-color: gold;
}
.left-up img{
	height: 100%;
	float: right;
}
.left-down img{
	height: 100%;
	float: right;
}
.right-up img{
	height: 100%;
	float: left;
}
.right-down img{
	height: 100%;
	float: left;
}
#bigimg {
	height: 812px;
	width: 100%;
	background-color: black;
	position: absolute;
}
#bigimg img{
	height: 100%;
}*/